BasedOnStyle: LLVM
ColumnLimit: 100
IndentWidth: 3
BreakBeforeBraces: Linux
AllowShortFunctionsOnASingleLine: InlineOnly
IndentCaseLabels: true
PointerAlignment: Left
BinPackArguments: false
BinPackParameters: false
PenaltyBreakBeforeFirstCallParameter: 250
PenaltyBreakFirstLessLess: 200
PenaltyBreakComment: 50
PenaltyBreakString: 60
PenaltyExcessCharacter: 5
PenaltyReturnTypeOnItsOwnLine: 0
ForEachMacros:
  - 'SLIST_FOREACH'
  - 'SLIST_FOREACH_SAFE'
  - 'LIST_FOREACH'
  - 'LIST_FOREACH_SAFE'
  - 'SIMPLEQ_FOREACH'
  - 'SIMPLEQ_FOREACH_SAFE'
  - 'TAILQ_FOREACH'
  - 'TAILQ_FOREACH_SAFE'
  - 'TAILQ_FOREACH_REVERSE'
  - 'TAILQ_FOREACH_REVERSE_SAFE'
  - 'STAILQ_FOREACH'
  - 'STAILQ_FOREACH_SAFE'
KeepEmptyLinesAtTheStartOfBlocks: false
SpacesBeforeTrailingComments: 3
SortIncludes: true
IncludeCategories:
  - Regex:           '^<[^/]+>'
    Priority:        1
  - Regex:           '^<sys/[^/]+>'
    Priority:        2
  - Regex:           '^<.+/.+>'
    Priority:        3
  - Regex:           '^".+/.+"'
    Priority:        4
  - Regex:           '.*'
    Priority:        5
# AlignConsecutiveAssignments: true
# AlignConsecutiveDeclarations: true
