#
# Copyright 2021 Kontain Inc
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
BasedOnStyle: LLVM
ColumnLimit: 100
IndentWidth: 3
BreakBeforeBraces: Linux
AllowShortFunctionsOnASingleLine: InlineOnly
IndentCaseLabels: true
PointerAlignment: Left
BinPackArguments: false
BinPackParameters: false
PenaltyBreakBeforeFirstCallParameter: 250
PenaltyBreakFirstLessLess: 200
PenaltyBreakComment: 50
PenaltyBreakString: 60
PenaltyExcessCharacter: 5
PenaltyReturnTypeOnItsOwnLine: 0
ForEachMacros:
  - 'SLIST_FOREACH'
  - 'SLIST_FOREACH_SAFE'
  - 'LIST_FOREACH'
  - 'LIST_FOREACH_SAFE'
  - 'SIMPLEQ_FOREACH'
  - 'SIMPLEQ_FOREACH_SAFE'
  - 'TAILQ_FOREACH'
  - 'TAILQ_FOREACH_SAFE'
  - 'TAILQ_FOREACH_REVERSE'
  - 'TAILQ_FOREACH_REVERSE_SAFE'
  - 'STAILQ_FOREACH'
  - 'STAILQ_FOREACH_SAFE'
KeepEmptyLinesAtTheStartOfBlocks: false
SpacesBeforeTrailingComments: 3
SortIncludes: true
IncludeCategories:
  - Regex:           '^<[^/]+>'
    Priority:        1
  - Regex:           '^<sys/[^/]+>'
    Priority:        2
  - Regex:           '^<.+/.+>'
    Priority:        3
  - Regex:           '^".+/.+"'
    Priority:        4
  - Regex:           '.*'
    Priority:        5
# AlignConsecutiveAssignments: true
# AlignConsecutiveDeclarations: true
