[submodule "runtime/musl"]
	path = runtime/musl
	url = git://git.musl-libc.org/musl	
[submodule "tests/bats"]
	path = tests/bats
	url = https://github.com/kontainapp/bats
[submodule "tests/greatest"]
	path = tests/greatest
	url = https://github.com/kontainapp/ctest_greatest
