[submodule "runtime/musl"]
	path = runtime/musl
	url = https://github.com/kontainapp/musl.git
[submodule "tests/bats"]
	path = tests/bats
	url = https://github.com/kontainapp/bats-core
[submodule "tests/greatest"]
	path = tests/greatest
	url = https://github.com/kontainapp/greatest
[submodule "tests/bats-support"]
	path = tests/bats-support
	url = https://github.com/ztombol/bats-support
[submodule "tests/bats-assert"]
	path = tests/bats-assert
	url = https://github.com/ztombol/bats-assert
[submodule "kkm"]
	path = kkm
	url = ../kkm.git
[submodule "container-runtime/crun"]
	path = container-runtime/crun
	url = https://github.com/kontainapp/crun
[submodule "lib/mimalloc/mimalloc"]
	path = lib/mimalloc/mimalloc
	url = ../mimalloc.git
