#
# Copyright 2021 Kontain Inc
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
name: Build and publish release artifacts
on:
  push:
    tags: [ v*.* ]
    # Testing branch for release pipeline (e.g. releases/myAlias/mytestbranch).
    # No final release artifacts will be created
    branches: [ releases/*/* ]

  # Manual trigger.
  # See https://github.blog/changelog/2020-07-06-github-actions-manual-triggers-with-workflow_dispatch/
  workflow_dispatch:

env:
  BUILDENV_IMAGE_VERSION: latest # use this for all buildenv containers
  IMAGE_VERSION: ci-${{ github.run_number }} # use this for all other containers
  SP_SUBSCRIPTION_ID: ${{ secrets.SP_SUBSCRIPTION_ID }}
  SP_APPID: ${{ secrets.SP_APPID }}
  SP_PASSWORD: ${{ secrets.SP_PASSWORD }}
  SP_TENANT: ${{ secrets.SP_TENANT }}
  VAGRANT_CLOUD_TOKEN: ${{ secrets.VAGRANT_CLOUD_TOKEN }}
  # TRACE: true # uncomment to enable '-x' in all bash scripts

jobs:
  km-kkm-build:
    name: Build KM, save kontain and kkm release artifacts
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true

      - name: Print build environment info
        run: |
          echo "Event: ${{ github.event_name }} inputs.run_type: ${{ github.event.inputs.run_type }}"
          echo ====Environment info===
          echo "SHA: $(git rev-parse HEAD)"
          echo "=== Last 10 commits:"
          git log -n 10 --graph --pretty=format:'%h% %d %s %cr %ce'
          echo "=== VM/OS:"
          cat /proc/version
          cat /etc/os-release
          echo "=== Docker version:"
          docker version
          echo ==== Environment Variables
          env
          echo ==== CPU Info
          lscpu

      - run: make -C cloud/azure login-cli

      - name: Prepare KM build env
        run: make -C tests pull-buildenv-image .buildenv-local-lib

      # Note the second make in this step is *not* run in our buildenv as there is no golang there
      - name: Build KM and tests
        run: |
          make -j withdocker
          make -C cloud/k8s/deploy/shim

      - name: Create kkm release artifact
        run: make withdocker TARGET=kkm-pkg

      # Note: need to have kkm.run ready for this step
      - name: Create kontain bundles
        run: make withdocker TARGET=release

        # Note: we need to have km built before kontaind.
      - name: Build and push kontaind image
        run: make -C cloud/k8s/kontaind push-runenv-image

      - name: Build payloads and create runenv images
        run: make -C payloads pull-buildenv-image clean all runenv-image

      - name: Push payloads runenv and demo-runenv images
        run: make -C payloads push-runenv-image push-demo-runenv-image

      - uses: actions/upload-artifact@v2
        with:
          name: kontain_dynamic_krun
          path: |
            ./build/kontain.tar.gz
            ./build/kontain_bin.tar.gz
            ./build/kkm.run
          retention-days: 7

      - name: capture submodules
        run: git submodule status > /tmp/km_submodule_status

      - uses: actions/upload-artifact@v2
        with:
          name: km_submodule_status
          path: /tmp/km_submodule_status
          retention-days: 7


  # Builds a static linked, stripped binary for krun/crun
  # This uses the NIX virtual machine, just like the crun CI.
  # NIX takes a long time, so we build the static krun binary in
  # parallel with the rest of KM build and test. We just the
  krun-static-build:
    name: Build static KRUN binary
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive

      - uses: actions/cache@v2
        with:
          path: .cache
          key: nix-v1-${{ hashFiles('container-runtime/crun/nix/nixpkgs.json') }}

      - run: |
          set -x
          CRUN_DIR=$(pwd)/container-runtime/crun
          # These next two lines were taken from the crun release.yaml and build-aux/release.sh
          # to setup and execute a nix based build of stripped static
          if [[ -z $(ls -A /nix) ]]; then sudo docker run --rm --privileged -v /:/mnt nixos/nix cp -rfT /nix /mnt/nix; fi
          sudo docker run --rm --privileged -v /nix:/nix -v ${CRUN_DIR}:${CRUN_DIR} -w ${CRUN_DIR} nixos/nix nix build --print-build-logs --file nix/ --arg enableSystemd false --extra-experimental-features nix-command
          mkdir -p /tmp/krun-static
          cp ${CRUN_DIR}/result/bin/crun /tmp/krun-static/krun.static

      - uses: actions/upload-artifact@v2
        with:
          name: krun-static
          path: /tmp/krun-static
          retention-days: 7

  k8s-release-bin:
    name: make k8s release bundle
    runs-on: ubuntu-20.04
    needs: [km-kkm-build, krun-static-build]
    steps:
      - uses: actions/download-artifact@v2
        with:
          name: kontain_dynamic_krun
          path: /tmp/kontain_dynamic_krun
      - uses: actions/download-artifact@v2
        with:
          name: km_submodule_status
          path: /tmp/km_submodule_status
      - uses: actions/download-artifact@v2
        with:
          name: krun-static
          path: /tmp/krun-static
      - run: |
          set -x
          #
          # create kontain_bin with static krun by patching up old format
          mkdir -p /tmp/kontain_bin
          tar -C /tmp/kontain_bin -xzf /tmp/kontain_dynamic_krun/kontain_bin.tar.gz
          cp /tmp/krun-static/krun.static /tmp/kontain_bin/container-runtime/krun
          chmod 755 /tmp/kontain_bin/container-runtime/krun
          cp /tmp/km_submodule_status/km_submodule_status /tmp/kontain_bin/km_submodule_status
          chmod 444 /tmp/kontain_bin/km_submodule_status
          rm -f /tmp/kontain_bin/kkm.run
          tar -C /tmp/kontain_bin -czvf /tmp/kontain_bin.tar.gz .
          #
          # Create uploadable artifact 'kontain' with 
          mkdir -p /tmp/kontain
          cp /tmp/kontain_dynamic_krun/kontain.tar.gz /tmp/kontain/
          cp /tmp/kontain_bin.tar.gz /tmp/kontain/
          cp /tmp/kontain_dynamic_krun/kkm.run /tmp/kontain/
      - uses: actions/upload-artifact@v2
        with:
          name: kontain
          path: |
            /tmp/kontain/kontain.tar.gz
            /tmp/kontain/kontain_bin.tar.gz
            /tmp/kontain/kkm.run
          retention-days: 7

  km-kkm-smoke-test:
    name: Smoke test KM/KKM on CI VM
    runs-on: ubuntu-20.04
    needs: [ km-kkm-build, k8s-release-bin ]
    steps:
      - uses: actions/checkout@v2

      - run: make -C cloud/azure login-cli

      - uses: actions/download-artifact@v2
        with:
          name: kontain

      - name: Install Kontain and KKM
        run: |
          sudo apt-get update -y -q
          sudo apt-get -y -q install linux-headers-$(uname -r)
          sudo bash kkm.run --noprogress
          sudo mkdir -p /opt/kontain && sudo tar -C /opt/kontain -xzf kontain.tar.gz
          sudo bash /opt/kontain/bin/podman_config.sh
          sudo bash /opt/kontain/bin/docker_config.sh

      - name: Pull demo-runenv image
        run: make -C payloads pull-demo-runenv-image

      - name: Validate runenv images locally with KKM
        run: make -C payloads validate-runenv-image HYPERVISOR_DEVICE=/dev/kkm DOCKER_INTERACTIVE=
        timeout-minutes: 15

  km-boxes:
    name: Create vagrant boxes
    runs-on: ubuntu-20.04
    needs: [ km-kkm-smoke-test ]
    if: ${{ github.event_name == 'push' }}
    steps:
      - name: Get RELEASE_TAG
        if: startsWith(github.ref, 'refs/tags/v')
        run: echo "RELEASE_TAG=${GITHUB_REF#refs/tags/}" >> $GITHUB_ENV

      - uses: actions/checkout@v2

      - uses: actions/download-artifact@v2
        with:
          name: kontain
          path: build

      - run: make -C cloud/azure login-cli

      - name: Create vagrant boxes
        run: make -C cloud/azure vagrant-box

  km-ami:
    name: Create AMI
    runs-on: ubuntu-20.04
    needs: [ km-kkm-smoke-test ]
    if: ${{ github.event_name == 'push' }}
    steps:
      - name: Get RELEASE_TAG
        if: startsWith(github.ref, 'refs/tags/v')
        run: echo "RELEASE_TAG=${GITHUB_REF#refs/tags/}" >> $GITHUB_ENV

      - uses: actions/checkout@v2

      - uses: actions/download-artifact@v2
        with:
          name: kontain
          path: build

      - run: make -C cloud/azure login-cli

      - name: Create AMI
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        run: make -C tools/hashicorp ami

  km-runenv:
    name: Publish runenv images
    runs-on: ubuntu-20.04
    needs: [ km-kkm-smoke-test ]
    if: ${{ github.event_name == 'push' }}
    steps:
      - name: Get RELEASE_TAG
        if: startsWith(github.ref, 'refs/tags/v')
        run: echo "RELEASE_TAG=${GITHUB_REF#refs/tags/}" >> $GITHUB_ENV

      - uses: actions/checkout@v2

      - run: |
          make -C cloud/azure login-cli
          echo ${{ secrets.DOCKER_HUB_TOKEN }} | docker login -u ${{ secrets.DOCKER_HUB_LOGIN }} --password-stdin

      - run: make -C payloads pull-runenv-image

      - name: Publish runenv images
        run: make -C payloads publish-runenv-image

  km-release:
    name: Publish release on Github
    runs-on: ubuntu-20.04
    needs: [ km-kkm-smoke-test ]
    if: ${{ github.event_name == 'push' }}
    steps:
      - name: Get RELEASE_TAG
        if: startsWith(github.ref, 'refs/tags/v')
        run: echo "RELEASE_TAG=${GITHUB_REF#refs/tags/}" >> $GITHUB_ENV

      - uses: actions/checkout@v2

      - uses: actions/download-artifact@v2
        with:
          name: kontain
          path: build

      - run: pip3 install PyGithub

      - name: Publish Github release
        env:
          GITHUB_RELEASE_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: make -C km publish-release

  slack-workflow-status:
    name: Notify slack, if needed
    runs-on: ubuntu-latest
    if: (failure() && github.ref == 'refs/heads/master') ||
      contains(github.workflow, 'noisy')
    # Dependencies. (A skipped dependency is considered satisfied)
    needs: [ km-kkm-build, krun-static-build, km-kkm-smoke-test, km-boxes, km-ami, km-runenv, km-release ]
    steps:
      - name: Send notification to slack
        uses: Gamesight/slack-workflow-status@master
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          slack_webhook_url: ${{ secrets.SLACK_WEBHOOK_URL }}
          include_jobs: true
          channel: "#build_and_test"
          name: "CI workflow status"
          icon_emoji: ":thumbsdown:"
